@if (Model.Count == 0)
{
    <h3>No Users Available</h3>
}
else
{
    @Html.BeginForm("Index", "Home", FormMethod.Get)
    {
        <p>
            Find by name: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <h3>List of Users</h3>
        <div>
            <table class="table table-bordered table-responsive table-hover">
                <tr>

                    <th>@Html.ActionLink("User Name", "Index", new { sortBy = ViewBag.DateSortParm })</th>
                    <th>Password</th>
                </tr>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.userName</td>
                        <td>@user.password</td>
                    </tr>
                }
            </table>
            @Html.ActionLink("Generate", "Generate", "Home")
        </div>
    </div>
}
